.notifications-container {
    display: flex;
    position: relative;
}

.notifications-list {
    display: none;
}

.notifications-number {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: rgb(44, 44, 44);

    width: 20px;
    height: 20px;
    box-shadow: 0 0 3px black;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle {
    display: none;
}

.toggle:checked ~ .notifications-list {
    display: flex;
    flex-direction: column;

    max-height: 250px;
    overflow-y: scroll;

    padding: 7px 15px;

    gap: 15px;
    position: absolute;
    top: 77px;
    width: 30vw;
    box-shadow: 0 0 6px #281c0c;
    background-color: #836c2e;
    text-align: left;

    border-radius: 0 0 10px 10px;
}

.toggle:checked ~ .notifications::before {
    visibility: hidden;
}

.notifications-item {
    padding: 15px 5px;
    transition: all 0.5s;
}

.notifications-item:hover {
    background-color: rgb(132, 90, 28);
    border-radius: 10px;
    transform: scale(1.025);
}

.notifications-number {
    flex-shrink: 0;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

@media screen and (max-width: 850px) {
    .toggle:checked ~ .notifications-list {
        right: -12%;
        width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .toggle:checked ~ .notifications-list {
        right: -150px;
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .toggle:checked ~ .notifications-list {
        right: -145px;
        width: 300px;
    }
}

/*-----------------------------------------------------------*/