.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    justify-items: center;
    align-items: center;
}

.card {
    background-color: #52461be2;
    /* border-radius: 10px; */
    padding: 20px;
    margin: 20px;
    width: 60%;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(145, 137, 54, 0.512);
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    width: calc(100% + 20px);
    height: 3px;
    background-color: var(--hover-color);
    transition: transform 0.3s;
    transform-origin: center;
}

.card::before {
    top: 0;
    transform: scaleX(0);
}

.card::after {
    bottom: 0;
    transform: scaleX(0);
}

.card:hover::before,
.card:hover::after {
    transform: scaleX(2);
}

@media screen and (max-width: 600px) {
    .services-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 1550px) {
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*-----------------------------------------------------------*/

h3 {
    background: #45391d;
    /* border-radius: 15px; */
    width: 50%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
}

main img {
    margin-top: 20px;
    margin-bottom: 20px;
    /* border-radius: 25px; */
}

/*-----------------------------------------------------------*/

@media screen and (max-width: 950px) {
    .services-grid {
        display: flex;
        flex-direction: column;
    }
}